{%  extends "manager/decoupe.html.twig" %}

{% block title %}Corlay manager - Modifier un carousel {% endblock %}

{% block active_menu_carousel %}active bg-gradient-primary{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Modifier un carousel</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Modifier le cotnenu d'un carousel</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid px-2" style="margin-top: 5em!important;">
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row">
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="ps-3">
                            <h6 class="mb-1">Modification d'un carousel</h6>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <form action="{{path('app_carouselsave',{'id':carou.id})}}"class="text-start" method="post" enctype="multipart/form-data">
                                    <div class="input-group input-group-outline my-3">
                                        <label class="col-form-label">Description carousel</label> &nbsp;&nbsp;
                                        <input type="text" required name="description" value="{% if carou.description is defined %}{{carou.description}}{% endif %}" class="form-control">
                                    </div>

                                    <div class="input-group input-group-outline my-3">
                                        <label class="col-form-label">Changer l'image</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="file" name="image" onchange="previewPicture(this)" accept="image/png, image/jpeg" class="form-control">
                                    </div>

                                    <br>

                                    <h6>Aperçu du carousel</h6>
                                    <p>Dimensions recommandées pour l'image 1920 x 1080 pixels</p>
                                    <p>
                                        <img src="{{ asset(carou_dir ~ carou.image) }}" id="image" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                                    </p>

                                    <div class="text-center">
                                        <button type="submit" name="edit" class="btn bg-gradient-primary w-100 my-4 mb-2">Enregistrer Modification</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
{% block addjs %}
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <script type="text/javascript">
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
    <script type="text/javascript" >
        // L'image img#image
        var image = document.getElementById("image");

        // La fonction previewPicture
        var previewPicture  = function (e) {

            // e.files contient un objet FileList
            const [picture] = e.files

            // "picture" est un objet File
            if (picture) {
                // On change l'URL de l'image
                image.src = URL.createObjectURL(picture)
            }
        }
    </script>

{% endblock %}