{% extends "manager/decoupe.html.twig" %}

{% block title %}Corlay manager - Partenaires{% endblock %}

{% block active_menu_partenaires %}active bg-gradient-primary{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Partenaires</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Liste des partenaires</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid px-2" style="margin-top: 5em!important;">
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row">
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="mb-4 ps-3">
                            <h5 class="mb-1">Partenaires Corlay</h5>

                            <button class="btn bg-gradient-success mb-0 toast-btn float-end" type="button"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal" data-target="successToast" style="margin-top: -39px;">
                                <i class="fas fa-plus"></i>
                                Nouveau
                            </button>
                        </div>
                        <div class="row">
                            {% for partenaire in partenaires %}
                            <div class="col-lg-3">
                                <div class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                                    <div class="avatar me-3">
                                        <img src="{{ asset(partner_dir~partenaire.image) }}" alt="kal" class="border-radius-lg shadow">
                                    </div>
                                    <div class="d-flex align-items-start flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">{{ partenaire.libelle }}.</h6>
                                        {% if (app.user.roles[0] == 'ROLE_ADMIN' or app.user.roles[0] =='ROLE_SUPER_ADMIN') %}
                                        <p class="mb-0 text-xs">
                                            <a href="{{path('app_partnerdelete',{'id':partenaire.id})}}">Supprimer</a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enregistrer un partenaire</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('app_partnersave') }}" class="text-start" method="post" enctype="multipart/form-data">

                        <div class="input-group input-group-outline my-3">
                            <label class="form-label">Nom du partenaire</label>
                            <input type="text" required name="libpartner" class="form-control" required>
                        </div>

                        <div class="input-group input-group-outline my-3">
                            <input type="file" required name="image" required onchange="previewPicture(this)" accept="image/png, image/jpeg" class="form-control">
                        </div>
                        <h6>Logo du partenaire Corlay</h6>
                        <p>
                            <img src="#" id="image" class="img-fluid shadow border-radius-xl">
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            <button type="submit" name="validate" class="btn btn-primary">Enregistrer </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
{% endblock %}

{% block addjs %}
    <script type="text/javascript" >
        // L'image img#image
        var image = document.getElementById("image");

        // La fonction previewPicture
        var previewPicture  = function (e) {

            // e.files contient un objet FileList
            const [picture] = e.files

            // "picture" est un objet File
            if (picture) {
                // On change l'URL de l'image
                image.src = URL.createObjectURL(picture)
            }
        }
    </script>
{% endblock %}
