{% extends "manager/decoupe.html.twig" %}

{% block active_menu_profile %}active bg-gradient-primary{% endblock %}

{% block title %}Corlay manager - Gerer Profil {% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Profil</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Modifier mes informations</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid px-2" style="margin-top: 5em!important;">
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row">
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="ps-3" style="margin-bottom: 2em;">
                            <h4 class="mb-1">Modifier mes informations</h4>
                        </div>
                        <form action="{{path('app_profileupdate')}}" method="post">
                            <div class="input-group input-group-outline mb-3">
                                <label class="col-form-label">Nom :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" value="{{ moi.nom }}" class="form-control" required name="nom">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="col-form-label">Prénoms :</label>&nbsp;&nbsp;&nbsp;
                                <input type="text" value="{{ moi.prenoms }}" required class="form-control" name="prenoms">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Mot de passe actuel</label>
                                <input type="password" class="form-control" name="oldpwd">
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Nouveau mot de passe</label>
                                <input type="password" class="form-control" name="newpassword" minlength="6">
                            </div>
                            <button class="btn bg-gradient-success w-100 mb-0 toast-btn" type="submit" style="margin-top: 2em;" data-target="successToast">
                                <i class="far fa-save"></i> Enregistrer modifications
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block addjs %}
    {% if checker == 1 %}
        <script>
            iziToast.error({
            title: 'Erreur',
            message: 'Mot de passe actuel incorrect',
            position: 'topRight',
            });
        </script>
    {% endif %}

    {% if checker == 2 %}
        <script>
            iziToast.success({
                title: 'OK',
                message: 'Les Modifications ont été prises en compte',
                position: 'topRight',
            });
        </script>
    {% endif %}
{% endblock %}
