{% extends "manager/decoupe.html.twig" %}

{% block title %}Corlay manager - Utilisateurs {% endblock %}

{% block active_menu_users %}active bg-gradient-primary{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Utilisateurs</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Gérer les utilisateurs</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <ul class="navbar-nav  justify-content-end">
                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid px-2" style="margin-top: 5em!important;">
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row">
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="mb-4 ps-3">
                            <h5 class="mb-1">Modifier les autorisations de {{ user.nom }} {{ user.prenoms }}</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form action="{{ path('admin_updateroles', {'id':user.id}) }}" class="text-start" method="post" enctype="multipart/form-data">
                                    <div class="form-check form-switch ps-0">
                                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Ajouer / modifier du contenu</label>
                                        <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                                    </div>
                                    <div class="form-check form-switch ps-0">
                                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Supprimer du contenu</label>
                                        <input class="form-check-input ms-auto" onchange="thechecker()" type="checkbox" name="admincheck" id="flexSwitchCheckDefault1"
                                                {% if user.roles[0] =="ROLE_ADMIN" or user.roles[0] =="ROLE_SUPER_ADMIN" %}checked{% endif %}>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" name="edit" class="btn bg-gradient-primary w-100 my-4 mb-2">Enregistrer Modification</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addjs %}
    <script>
        function thechecker()
        {
            if($('#flexSwitchCheckDefault1').is(':checked')("#flexSwitchCheckDefault").prop("checked", true);
        })
        $
    </script>
{% endblock %}